<main role="main" class="container ">
    <div class="p-3 my-3 text-white-50 bg-secondary rounded box-shadow border">
        <h6 class="border-bottom border-white pb-2 mb-0 text-white">Mi Perfil</h6>

        <div class="d-flex align-items-center mt-3 ">
            <img class="mr-3" src="..\assets\img\Perfil Usuario.jpg" alt="" width="48" height="48">
            <div class="lh-100 mx-2">
                <h6 class="mb-0 text-white lh-100">{{usuario.nombre}} {{usuario.apellido}}</h6>
                <small>@username</small>
            </div>

        </div>

    </div>

    <div class="my-3 p-3 bg-white rounded box-shadow border">
        <h6 class="border-bottom border-gray pb-2 mb-0">Configuracion</h6>
        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="text-gray-dark">Nombre</strong>
                <div class="d-flex justify-content-start align-items-center w-100">
                    <span class="d-block">{{usuario.nombre}}</span>
                    <a class="mx-2" role="button" (click)="modificarCampo('Nombre', 'nombre')">Modificar</a>
                </div>
            </div>
        </div>

        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="text-gray-dark">Apellidos</strong>
                <div class="d-flex justify-content-start align-items-center w-100">
                    <span class="d-block">{{usuario.apellido}}</span>
                    <a class="mx-2" role="button" (click)="modificarCampo('Apellidos', 'apellido')">Modificar</a>
                </div>
            </div>
        </div>

        <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <strong class="text-gray-dark">Email</strong>
                <div class="d-flex justify-content-start align-items-center w-100">
                    <span class="d-block">{{usuario.email}}</span>
                    <a class="mx-2" role="button" (click)="modificarCampo('Email', 'email')">Modificar</a>
                </div>
            </div>
        </div>

        <div class="media text-muted pt-3">
            <div class="media-body pb-1 mb-0 small lh-125 border-gray">
                    <strong class="text-gray-dark">Contraseña</strong>
                <div class="d-flex justify-content-start align-items-center w-100">
                    <span type="password" class="d-block">{{usuario.password}}</span>
                    <a class="mx-2" role="button" (click)="modificarCampo('Contraseña', 'password')">Modificar</a>
                </div>
            </div>
        </div>
    </div>
</main>