img {
    object-fit: cover;
    filter: brightness(50%);
}

.main-text {
    position: absolute;
    top: 25%;
    width: 100%;
    color: #FFF;
}

.superior {
    position: absolute;
    top: calc(35% - 28px);
    left: 0;
    text-align: center;
    width: 100%;
    color: white;
}

.inferior {
    position: absolute;
    top: calc(65% - 28px);
    left: 0;
    text-align: center;
    width: 100%;
    color: white;
}

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.form {

    position: relative;
}

.form .fa-search {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #84878b;
}


.form-input {
    height: 55px;
    text-indent: 33px;
    border-radius: 20px;
}

.form-input:focus {

    box-shadow: none;
    border: none;
}

.contenedor {
    position: relative;
}

.centrado {
    position: absolute;
    top: calc(50% - 28px);
    left: 0;
    text-align: center;
    width: 100%;
}