<div class="col">
    <div class="card shadow-sm mx-auto" width="100%">
            <img [src]="imagen" type="button" (click)="paginaWallpaper()" class="card-img-top" width="100%" height="225" alt="" onerror="this.src='../assets/img/sin imagenes.png'; ">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">

                <small class="text">{{cortarTexto(wallpaper.titulo, 28)}}</small>
                <div class="btn-group">
                    <button type="button" (click)="downloadImage()" class=" btn btn-sm btn-outline-success">Descargar</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>