<div class="col">
    <div class="card shadow-sm mx-auto" width="100%">
            <img [src]="imagen" class="card-img-top" width="100%" height="225" alt="">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">

                <small class="text">{{wallpaper.titulo}}</small>
                <div class="btn-group">
                    <button type="button" (click)="downloadImage()" class="btn btn-sm btn-outline-success">Descargar</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>