<nav class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="../assets/img/logo.png" height="35" alt="">
            </a>
            <span class="navbar-toggler-icon"></span>
            <a class="navbar-brand" href="#">WallsForU</a>
            <span class="navbar-toggler-icon"></span>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 text-secondary">Inicio</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Categorias</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Etiquetas</a></li>
            </ul>

            <div [ngSwitch]="menuType">
                <div *ngSwitchCase="'default'" class="text-end">
                    <button type="button" class="btn btn-outline-light me-2" (click)="openLogin()">Inicia sesión</button>
                    <button type="button" class="btn btn-primary" (click)="openRegister()">Registrarse</button>
                </div>
    
                <div *ngSwitchCase="'logeado'" class="text-end">
                    <button type="button" title="Subir Wallpaper" class="btn btn-outline-light me-2 subir" (click)="subirWallpaper()"></button>
                    <div class="btn-group ">
                        <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{usuario}}
                        </button>
                        <div class="dropdown-menu">
                          <a class="dropdown-item" >Mis Wallpapers</a>
                          <a class="dropdown-item" href="#">Mi Perfil</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesion</a>
                        </div>
                      </div>

                    
                    
                </div>

            </div>

            
        </div>
    </div>
</nav>