<nav class="p-3 text-bg-dark">
    <div class="container-sm" [ngSwitch]="adminMode">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
            *ngSwitchCase="false">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="../assets/img/logo.png" height="35" alt="">
            </a>
            <span class="navbar-toggler-icon"></span>
            <a class="navbar-brand" href="#">WallsForU</a>
            <span class="navbar-toggler-icon"></span>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="nav-link px-2 text-secondary" routerLink="">Inicio</a></li>
                <li><a class="nav-link px-2 text-white" routerLink="categorias">Categorias</a></li>
            </ul>

            <div [ngSwitch]="menuType">
                <div *ngSwitchCase="'default'" class="text-end">
                    <button type="button" class="btn btn-outline-light me-2" (click)="openLogin()">Inicia
                        sesión</button>
                    <button type="button" class="btn btn-primary" (click)="openRegister()">Registrarse</button>
                </div>

                <div *ngSwitchCase="'logeado'" class="text-end">
                    <button type="button" class="btn btn-outline-light me-2 subir"
                        (click)="subirWallpaper()"><i class="bi bi-upload"></i>
                    </button>
                    <div class="btn-group ">
                        <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{usuario}}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/misWallpapers">Mis Wallpapers</a>
                            <a class="dropdown-item" routerLink="/miPerfil">Mi Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" (click)="cerrarSesion()">Cerrar Sesion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between" id="navbarsExample10" *ngSwitchCase="true">
            <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none" routerLink="/administrador">
                <img src="../assets/img/logo.png" height="35" alt="">
                <span class="navbar-toggler-icon"></span>
                <a class="navbar-brand text-white mb-0 h1" href="#">Admin Mode</a>
            </a>
            
            
              <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="#" class="nav-link px-2 link-secondary" routerLink="/administrador">Inicio</a></li>
                <li><a href="#" class="nav-link px-2 link-light" routerLink="/administrador/wallpapers">Wallpapers</a></li>
                <li><a href="#" class="nav-link px-2 link-light" routerLink="/administrador/usuarios">Usuarios</a></li>
                <li><a href="#" class="nav-link px-2 link-light" routerLink="/administrador/categorias">Categorias</a></li>
              </ul>
        
              <div class="col-md-3 text-end">
                <button type="button" title="Subir Wallpaper" class="btn btn-outline-light me-2 subir"
                        (click)="subirWallpaper()"></button>
                <button type="button" class="btn btn-primary me-2" (click)="cerrarSesion()">Cerrar Sesion</button>
              </div>
        </div>

    </div>
</nav>