<div class="modal-header text-center ">
    <button type="button" class="btn-close" style="visibility: hidden;"></button>
    <h4 class="modal-title w-100 font-weight-bold">Modificar Wallpaper</h4>

    <button type="button" class="btn-close d-flex justify-content-center" (click)="activeModal.close()"
        aria-label="Close"></button>


</div>


<div class="modal-body">
    <div class="row">

        <div class="col-4">
            <form>
                <div class="form-group pb-1 mx-2">
                    <label for="exampleInputEmail1" class="form-label mt-2">Titulo</label>
                    <input type="email" class="form-control" id="email" [value]="wallpaperAnterior.titulo" required #titulo>
                    <div class="invalid-feedback">Correo Electronico incorrecto!</div>
                </div>

                <div class="form-group pb-1 mx-2">
                    <label for="exampleFormControlTextarea1" class="form-label mt-2">Descripcion</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [value]="wallpaperAnterior.descripcion" #descripcion></textarea>
                </div>

                <div class="form-group pb-1 mx-1">
                    <label for="exampleInputEmail1" class="form-label mt-2">Categorias</label>
                    <div class="container align-content-start desplazable">


                        <div class="d-flex row">

                            <div class="col-sm-auto px-1 py-1" *ngFor="let Categoria of Categorias">
                                <input type="checkbox" class="btn-check" id="btn-check {{Categoria.titulo}}"
                                    autocomplete="off" [checked]="Categoria.check"
                                    (change)="Categoria.check = !Categoria.check">
                                <label class="btn btn-outline-secondary"
                                    for="btn-check {{Categoria.titulo}}">{{Categoria.titulo}}</label><br>

                            </div>
                        </div>


                    </div>

                </div>

                <div class="form-group pb-1 mx-2">
                    <label for="exampleInputEmail1" class="form-label mt-2">Etiquetas <span> (Separadas por
                            comas)</span></label>
                    <input type="email" class="form-control" id="email" required [value]="wallpaperAnterior.tags" #etiquetas>
                    <div class="invalid-feedback">Correo Electronico incorrecto!</div>
                </div>



            </form>
        </div>

        <div class="col-8 justify-content-center">

            <div class="card">
                <div class="card-body">
                    <input type="file" class="custom-file-input" id="customFileLang" (change)="guardarEvento($event)" lang="es">
                    
                </div>
                <img class="card-img-bottom" src="{{imageSrc}}" >
              </div>
        </div>


    </div>


</div>
<div class="modal-footer d-flex justify-content-start">
    <button type="submit" class="btn btn-primary" (click)="editarImagen(titulo.value, descripcion.value, etiquetas.value)">Guardar</button>
</div>